@import '../../../mixins';

.form,
.list,
.paginator {
  margin: 1em;
}

.form {
  .mat-form-field {
    width: 100%;
  }
}

.form-actions {
  margin-top: 1em;
  display: flex;
  justify-content: flex-end;

  .mat-raised-button {
    margin-left: .5em;
  }
}

.list {
  .error {
    padding: 3em 0;
    display: flex;

    flex-direction: row;
    justify-content: center;
    align-items: center;

    @include media(xs) {
      flex-direction: column;
    }

    .icon {
      width: 64px;
      margin: 0 2em;
      img {
        display: block;
        width: 100%;
        height: auto;
      }
      @include media(xs) {
        width: 128px;
      }
    }

    .message {
      font-size: 2em;

      @include media(xs) {
        padding: 2em 0;
      }
    }
  }
}