@import '../../../mixins';

.mat-card {
  width: 50%;
  margin: 1em auto;

  @include media(xs) {
    width: 90vw;
    margin: 1em auto;
  }

  .mat-card-header {
    margin-bottom: .5em;    
  }

  .mat-card-image {
    width: 25%;
    margin: 0 auto;
    padding: 1em 0;
    display: block;
    
    @include media(xs) {
      width: 100%;
    }
  }

  .mat-card-content {
    table {
      width: 100%;
      th {
        min-width: 33%;
        width: 33%;
        text-align: right;
        padding-right: .5em;

        &.top {
          vertical-align: top;
        }
      }
    }
  }

  .mat-chip-list {
    .mat-chip {
      cursor: pointer;
    }
  }

  .mat-card-actions {
    text-align: right;
    padding-bottom: 1em;
    padding-right: .5em;
  }
}
